// banner

// .banner {
//   color: white;
//   background-color: #516B99;
//   text-align: center;
//   height: 200px;
//   background-size: cover !important;
//   justify-content: center;
//   margin: -30px;
//   margin-bottom: 10px;

// }
// .banner h1 {
//   font-size: 50px;
//   font-weight: bold;
//   text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
//   color: #4a5b71;
// }

.content {
  background-color: #0B335B;
  // margin-top: 60px;
  text-align: center;
}

.first-text {

}

.second-text {



}


.animation {
  // height: 400px;
  width:  auto;
  margin-left: 0%;
  font-size: 25px;
  font-weight: lighter;
  color: #4a5b71;
  margin-bottom: 30px;
  // position: center;
}

// .coffee {
//   position: absolute;
//   top: 20px;
// }

// .croco {
//   position: absolute;
//     top: -59px;
//     left: -41px;
// }

// .croco img {
//     height: 300px;
// }

// .rotate {
//   position: absolute;
//   top: 161px;
//     left: 204px;
//     margin: 20px;
//     width: 100px;
//     height: 100px;
//     -webkit-animation-name: spin;
//     -webkit-animation-duration: 4000ms;
//     -webkit-animation-iteration-count: infinite;
//     -webkit-animation-timing-function: linear;
//     -moz-animation-name: spin;
//     -moz-animation-duration: 4000ms;
//     -moz-animation-iteration-count: infinite;
//     -moz-animation-timing-function: linear;
//     -ms-animation-name: spin;
//     -ms-animation-duration: 4000ms;
//     -ms-animation-iteration-count: infinite;
//     -ms-animation-timing-function: linear;

//     animation-name: spin;
//     animation-duration: 4000ms;
//     animation-iteration-count: infinite;
//     animation-timing-function: linear;
// }
// @-ms-keyframes spin {
//     100% { -ms-transform: rotate(0deg); }
//     0% { -ms-transform: rotate(360deg); }
// }
// @-moz-keyframes spin {
//     100% { -moz-transform: rotate(0deg); }
//     0% { -moz-transform: rotate(360deg); }
// }
// @-webkit-keyframes spin {
//     100% { -webkit-transform: rotate(0deg); }
//     0% { -webkit-transform: rotate(360deg); }
// }
// @keyframes spin {
//     100% { transform:rotate(0deg); }
//     0% { transform:rotate(360deg); }
// }

.external-link a {
  position: absolute;
    top: -59px;
    left: 0px;
    width: 2500px;
    height: 2500px;
}

.contentPost {
  display:none;
}
